.mat-table {
  width: 100%;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}

td, th {
  width: 25%;
}

th.mat-sort-header-sorted {
  color: black;
}

tr.mat-row, tr.mat-footer-row{
  cursor: pointer;
}

.tickets {

  .icon {
      font-size: 1.5rem;
      width:24px;
  }
  .priority_high {
      background-color: var(--critical);
  }

  .error {
      background-color: var(--error);
  }

  .warning {
      background-color: var(--warning);
  }

  .logging,
  .information {
      background-color: var(--success);
  }
}