.filter-section{
  background-color: #673ab7;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  display: flex;
  padding: 25px;
  padding-bottom: 10px;

  .filter-section_fields{
    width: 20%;

    .filter-section__vehicle{
      min-width: 0;
      text-align: left;
      align-self: center;
    }
  }

  .filter-section__search{
    .mat-mdc-fab{
      &.mat-accent{
        background-color: white;
      }
    }
  }

  .filter-add-rule{
    position: absolute;
    right: 30px;

    .mat-mdc-fab{
      &.mat-accent{
        background-color: red;
      }
    }
  }
  
}

.table-area{
  border-right: 1px solid rgba(0, 0, 0, .12);
  border-left: 1px solid rgba(0, 0, 0, .12);
  border-bottom: 1px solid rgba(0, 0, 0, .12);

  .mat-table {
    width: 100%;
  }
  
  .mat-form-field {
    font-size: 14px;
    width: 100%;
  }
  
  tr {
    cursor: pointer;
  }
  
  td, th {
    width: 25%;
  }
  
  th.mat-sort-header-sorted {
    color: black;
  }
  
  tr.mat-row, tr.mat-footer-row{
    cursor: pointer;
  }
  
  
  .mat-mdc-row .mat-mdc-cell {
    cursor: pointer;
  }
  
  .mat-mdc-row:hover .mat-mdc-cell {
    background-color: rgba(0, 0, 0, .12);
  }
}


.pagination-container {
  display: flex;
  justify-content: flex-end;

  .pagination-button-container {
    margin: 10px;
  }
}

.last-cell {
  display: flex !important;
  justify-content: flex-end  !important;
  width: 100% !important;
  height: 55px;
  align-items: center;

  button{
    margin: 0 10px;
    max-width: 40px;
    max-height: 40px;
  }
}